# Data Science Tools and Ecosystem

## Author
Catherine Sarah Brinton - 5/1/2023

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
 - Popular Languages of Data Scientists
 - Popular Libraries of Data Scientists
 - Popular Data Science Tools
 - Examples of Simple Arithmatic Experessions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. SciPy
5. Seaborn
6. Scikit
7. Keras
8. TensorFlow
9. Pytorch
10. Apache Spark

|Data Science Tools|
|------------------|
|Jupyter Lab|
|Jupyter Notebooks|
|Apache Zeppelin|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmatic expressions in Python:

In [6]:
#This is a simple expression to multiply and add integers

(3*4)+5

17

In [7]:
#Convert 200 min to hours
#Given 60 min per hour

hours= 200/60
print(hours)

3.3333333333333335